/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body { background: url('/images/moonrise.jpg') top center; background-size:cover; @apply max-w-xl mx-auto p-2 bg-purple-900 font-sans text-xl text-purple-50 md:px-0; }

  a:link, a:visited { @apply text-purple-100; }
  a:hover, a:active { @apply underline; }

  .search-wrapper { @apply mt-8 p-[3px] bg-gradient-to-tl from-blue-400 via-green-300 to-purple-500 rounded-full relative; }
  .search-input   { @apply text-sm py-2 px-4 rounded-full w-full focus:outline-none placeholder:text-gray-400 focus:text-gray-800; }
  .search-clear   { @apply absolute right-0 inset-y-0 bg-purple-400 px-3.5 rounded-tr-full rounded-br-full hidden; }
  article h1 { @apply my-6 font-bold px-3 font-sans leading-none text-4xl md:text-5xl; }
  article h2 { @apply my-6 font-bold px-3 font-sans leading-none text-3xl md:text-4xl; }
  article h3 { @apply my-6 font-bold px-3 font-sans leading-none text-2xl md:text-3xl; }
  article p  { @apply text-xl leading-normal my-6 px-3; }
  .post-preview { @apply bg-white my-6 px-3 py-2 shadow-xl rounded-lg text-gray-800; }
  .post-preview h1, .post-preview h2, .post-preview h3, .post-preview h4, .post-preview p { @apply my-2 px-0; }
    .post-preview header { @apply font-bold; }
    .post-preview header h1 { @apply leading-none text-purple-900; }
    .post-preview a.cta { @apply text-gray-800 bg-purple-100 rounded-full px-3 py-1; }
  .post ul { @apply bg-white text-gray-800 rounded-lg; }

  ul, ol { @apply my-6; }
    ul { @apply ml-0 list-none; }
    ol { @apply ml-0 list-decimal; }
    li { @apply px-3 py-5 text-xl leading-snug md:text-xl; }
      li:nth-child(even) { @apply bg-purple-50; }
      li:last-child { @apply rounded-b-lg; }

  blockquote { @apply border-l-4 border-purple-400 ml-3; }
}
