---
// PURPOSE: HOMEPAGE
import { getCollection } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import MainNav from '../components/MainNav.astro';
import Search from '../components/Search.astro';
import PostList from '../components/PostList.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Recipes Â· ðŸ¼';
let description = 'Our favorite recipes.';
let permalink = 'https://www.softpanda.de/';

// Data Fetching: List all Markdown posts in the repo.

const allRecipes = (await getCollection('recipe')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body class="mx-auto">
		<MainNav />
		<div class="wrapper px-3">
			<main class="content">
				<Search />
				<section aria-label="Recipe list">
					{allRecipes.map((p) => <PostList post={p} />)}
				</section>
			</main>
		</div>
	</body>
</html>


