---
// PURPOSE: HOMEPAGE
import BaseHead from '../components/_Head.astro';
import MainNav from '../components/MainNav.astro';
import PostList from '../components/PostList.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

let allRecipes = await Astro.glob('./recipe/*.md');
allRecipes = allRecipes.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body class="mx-auto">
		<MainNav />
		<div class="wrapper px-4">
			<main class="content">
				<section aria-label="Recipe list">
					{allRecipes.map((p) => <PostList post={p} />)}
				</section>
			</main>
		</div>
	</body>
</html>
