<header class="mt-3">
	<a href="/" class="flex justify-center">
		<span class="text-4xl">🐼</span>
		<!-- <svg class="logo fill-purple-100 hover:fill-purple-500" width="24" height="24" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M0 1C0 0.447715 0.447715 0 1 0V0C1.55228 0 2 0.447715 2 1V7H17C17.5523 7 18 7.44772 18 8V17C18 17.5523 17.5523 18 17 18V18C16.4477 18 16 17.5523 16 17V9H2V17C2 17.5523 1.55228 18 1 18V18C0.447715 18 0 17.5523 0 17V1Z" />
		</svg> -->
	</a>
</header>
