---
// PURPOSE: TITLE AND CONTENT FOR A SINGLE POST

export interface Props {
	title: string;
	description: string;
	publishDate: string;
	heroImage: string;
	alt: string;
}

const { title, description, publishDate, heroImage, alt } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				<!-- {heroImage && <img width="720" height="420" class="hero-image" loading="lazy" src={heroImage} alt={alt} />} -->
				<h1>{title}</h1>
				<p>{description}</p>
			</header>
			<main>
				<slot />
			</main>
		</div>
	</article>
</div>
