---
// PURPOSE: LIST ALL POSTS/RECIPES
import type { CollectionEntry } from 'astro:content';
interface Props {
	post: CollectionEntry<'recipe'>;
}

const { post } = Astro.props;
---

<article class="post-preview">
	<header>
		<a href={"/recipe/" + post.slug + "/"}><h1 class="text-2xl">{post.data.title}</h1></a>
	</header>
	<p class="text-base">{post.data.description}</p>
	<p class="text-sm text-gray-400">Category: {post.data.category}</p>
</article>
