---
// PURPOSE: TITLE AND CONTENT FOR A SINGLE POST

export interface Props {
	publishDate: string;
	title: string;
	description: string;
	category: string;
	keyIngredient: string;
}

const { title, description, publishDate, category, keyIngredient } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				<h1>{title}</h1>
				<p>{description}</p>
			</header>
			<main>
				<slot />
				<p><a href="/">←</a></p>
			</main>
		</div>
	</article>
</div>
