---
// PURPOSE: LIST ALL POSTS/RECIPES
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article class="post-preview">
	<header>
		<a href={post.url}><h1 class="text-2xl">{post.frontmatter.title}</h1></a>
	</header>
	<p class="text-base">{post.frontmatter.description}</p>
	<p class="text-sm text-gray-400">Category: {post.frontmatter.category}</p>
</article>
