---
// PURPOSE: TITLE AND CONTENT FOR A SINGLE POST; USED IN POSTLAYOUT.ASTRO

const { title, description } = Astro.props;
---

<div class="layout">
	<article class="content">
		<div>
			<header>
				<h1 id="recipeTitle" class="cursor-copy">{title}</h1>
				<p>{description}</p>
			</header>
			<main>
				<slot />
				<p>
					<a href="/" class="inline-flex flex-row items-center pr-3 text-white hover:text-purple-200 hover:no-underline hover:bg-purple-900 hover:rounded-full ">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7 mr-1">
							<path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-4.28 9.22a.75.75 0 000 1.06l3 3a.75.75 0 101.06-1.06l-1.72-1.72h5.69a.75.75 0 000-1.5h-5.69l1.72-1.72a.75.75 0 00-1.06-1.06l-3 3z" clip-rule="evenodd" />
						</svg>
						Back
					</a>
				</p>
			</main>
		</div>
	</article>
</div>
