---
import searchImport from 'list.js'
// console.log(searchImport);
// export searchImport
---



<input class="search" placeholder="Search" />
  <button class="Search" data-sort="name">
    Search
  </button>
